html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  width: 100%;
}

.body {
  height: 100%;
  width: 100%;
}

#main-html {
  height: 90%;
}

.triple-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.triple {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px;
  align-items: center;
  justify-content: center;
}

.triple:hover {
  background-color: #99cdc5;
  transition: all 2s;
}

#triple-recursion:hover > #image-recursion,
#triple-sort:hover > #image-sort,
#triple-search:hover > #image-search {
  filter:brightness(200%);
  transition: all 1s;
}


.title-index {
  margin-bottom: 60px;
  width: 270px;
	height: 50px;
	font-family: Lato;
	font-size: 30px;
	line-height: 1.25;
	letter-spacing: 5px;
	text-align: center;
	color: #ffffff;
}

.body-index {
  margin-top: 40px;
  width: 283px;
	height: 180px;
	font-family: Lato;
	font-size: 18px;
	color: #ffffff;
  text-align: center;
}

.icons-img {
  height: 100px;
}

.icons-img:hover {
  height: 120px;
}

img {
  align-self: center;
}
