{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block main %}

<div class="triple-container">
  <div class="triple" id="triple-recursion">
    <div class="title-index">RECURSION</div>
    <img src="static/images/recursionbefore.png" class="icons-img" id="image-recursion"></img>
    <div class="body-index">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec elementum nisl, vel vestibulum elit.
    </div>
  </div>
  <div class="triple" id="triple-sort">
    <div class="title-index">SORTING ALGORITHMS</div>
    <img src="static/images/sortbefore.png" class="icons-img" id="image-sort"></img>
    <div class="body-index">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec elementum nisl, vel vestibulum elit.
    </div>
  </div>
  <div class="triple" id="triple-search">
    <div class="title-index">SEARCHING ALGORITHMS</div>
    <img src="static/images/searchbefore.png" class="icons-img" id="image-search"></img>
    <div class="body-index">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec elementum nisl, vel vestibulum elit.
    </div>
  </div>
</div>


{% endblock %}
