{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block main %}

<div class="triple-container">
  <div class="triple">
    <div class="title-index">RECURSION</div>
    <img src="static/images/recursionbefore.png" class="icons-img"></img>
    <div class="body-index">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec elementum nisl, vel vestibulum elit.
    </div>
  </div>
  <div class="triple">
    <div class="title-index">SORTING ALGORITHMS</div>
    <img src="static/images/sortbefore.png" class="icons-img"></img>
    <div class="body-index">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec elementum nisl, vel vestibulum elit.
    </div>
  </div>
  <div class="triple">
    <div class="title-index">SEARCHING ALGORITHMS</div>
    <img src="static/images/searchbefore.png" class="icons-img"></img>
    <div class="body-index">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec elementum nisl, vel vestibulum elit.
    </div>
  </div>
</div>


{% endblock %}
